<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
     aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Triton | Панель управления</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shop:dashboard' %}"><i class="fa-solid fa-house"></i> Главная</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shop:admin-products' %}"><i class="fa-solid fa-basket-shopping"></i>
                    Товары</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-list"></i> Категории</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-handshake-simple"></i>
                    Партнеры</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"><i class="fa-regular fa-money-bill-1"></i>
                    Акции</a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#"><i class="fa-solid fa-gears"></i> Настройки
                </a>
            </li>
            <hr>
            <li class="nav-item">
                <a class="nav-link text-danger" aria-current="page" href="#"><i
                        class="fa-solid fa-right-from-bracket"></i> Выход
                </a>
            </li>
        </ul>
    </div>
</div>